@import "tailwindcss";
@plugin "daisyui";

a.active {
  background: linear-gradient(to right, #632EE3, #9F62F2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  text-decoration: none;
}

li a.active::after {
  content: "";
  display: block;
  height: 2px; 
  width: 70%;  
  background: linear-gradient(to right, #632EE3, #9F62F2);
  position: absolute;
  bottom: 10%;
  left: 50%;         
  transform: translateX(-50%); 
}




